/* Header */
header h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Filter Types */
#filterTypes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#filterTypes ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
}

#filterTypes li {
    background-color: var(--light_gray);
    margin: 10px 0;
    width: 95%;
    max-width: 50em;
    border-radius: 1em;
    box-shadow: 0px 33px 15px -18px rgba(0, 0, 0, 0.15);
}

#filterTypes a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

/* Specific Filter */
#addInfoForm {
    margin-top: 20px;
}

#addInfoForm header {
    display: flex;
    justify-content: center;
}

#addInfoForm header h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#addInfoForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

#addInfoForm .form-group {
    margin-bottom: 10px;
    width: 100%;
}

#addInfoForm label {
    width: 100%;
}

#addInfoForm input[type="text"],
#addInfoForm input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

#addInfoForm input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 150px;
}

/* Remove Filter Types */
#removeFilterTypes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#removeFilterTypes ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
}

#removeFilterTypes li {
    background-color: var(--light_gray);
    margin: 10px 0;
    width: 95%;
    max-width: 50em;
    border-radius: 1em;
    box-shadow: 0px 33px 15px -18px rgba(0, 0, 0, 0.15);
}

#removeFilterTypes a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

/* Remove Specific Filter */
#removeInfoForm header {
    display: flex;
    justify-content: center;
}

#removeInfoForm header h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

#removeInfoForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

#removeInfoForm label {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}

#removeInfoForm select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

#removeInfoForm input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 150px;
    position: relative;
    top: -10px;
}
/*====================== Manage User =========================== */


/* User Search Form */
#userSearch form {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px;
}

#userSearch form select {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#userSearch form input[type="text"] {
    padding: 10px;
    margin-right: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* User List */
#userList ul {
    list-style-type: none;
    padding: 0;
}

.user-item {
    background-color: var(--light_gray);
    margin: 10px 20px;
    border-radius: 1em;
    padding: 10px;
    display: grid;
    grid-template-columns: 60px 250px 35px 250px 65px 1fr auto;
    grid-gap: 10px;
    align-items: center;
}

.user-label {
    font-size: 12px;
    color: #999;
}

.user-details {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.username-light,
.email-light,
.user-type-light {
    font-size: 12px;
    color: #999;
    margin-right: 10px;
}

.username {
    grid-column: 2 / 3;
}

.email {
    grid-column: 4 / 5;
}

.user-type {
    grid-column: 6 / 7;
}

.options-menu {
    display: flex;
    align-items: center;
}

.options-menu form {
    margin-left: 10px;
}

.options-menu button {
    padding: 8px 12px;
    text-align: right;
    border: none;
    background: none;
    cursor: pointer;
}

.options-menu button:hover {
    background-color: #f9f9f9;
}

/*responsive*/
@media (max-width: 1200px) {
    .user-item {
        grid-template-columns: 60px 200px 35px 200px 65px 1fr auto;
    }
}

@media (max-width: 992px) {
    .user-item {
        grid-template-columns: 50px 130px 25px 175px 25px 1fr auto;
    }
}

@media (max-width: 768px) {
    .user-item {
        grid-template-columns: 50px 1fr;
        grid-template-areas: 
            "username-light username"
            "email-light email"
            "user-type-light user-type"
            "options-menu options-menu";
    }

    .username-light { grid-area: username-light; }
    .username { grid-area: username; }
    .email-light { grid-area: email-light; }
    .email { grid-area: email; }
    .user-type-light { grid-area: user-type-light; }
    .user-type { grid-area: user-type; }
    .options-menu { grid-area: options-menu; }
}

@media (max-width: 576px) {
    .user-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .options-menu {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    .options-menu form {
        margin-left: 0;
        margin-bottom: 10px;
    }
}