header , div #menu, div#credentials{
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    background-color: gray;
    
}

header > img{
    grid-column: 1/2;
    max-width: 50%;
    width: auto;
}

header > form{
    grid-column: 2/3;
}

div#credentials{
    grid-column-start: 3;
}