
body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/* header */

body > header{
    display: grid;
    grid-template-columns: 10em auto 10em;
    grid-template-rows: 5em;   
}
body > header img{
    grid-column: 1;
}

body > header form{
    grid-column: 2;
}

body > header .login{
    grid-column: 3;
}

#logged_icons{
    grid-column: 3;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-evenly;
}

/* menu */

#menu_button{
    display: none;
}

body > nav{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
body > nav menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1

}

body > nav li {
    display: block;
    flex: 1;
}


/* main */
main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*footer*/

body > footer{
    margin-top: auto;
    display: grid;
    grid-template-rows: [start] auto [middle] auto [end];
}

#footer_contents{
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



body > footer > p{
    grid-row: 2;
}