@media (max-width: 40em){
    /*header*/

    body > header{
        display: grid;
        grid-template-rows: 5em 5em;   
    }
    body > header img{
        grid-column: 1;
        grid-row: 1;
    }
    
    body > header form{
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row: 2;
    }
    
    .login{
        grid-column: 3;
        grid-row: 1;
    }
    
    #logged_icons{
        grid-column: 3;
        grid-row: 1;
    }

    /*menu*/
    body > nav {
        flex-direction: column;
    }

    body > nav menu{
        flex-direction: column;
        width: 100%;
    }


    .menu_button{
        align-self: start;
        width: 100%;
        display: block;
        background-color: var(--medium_gray2);
        color: white;
        padding: 1em;
    }
    
    .menu_button:before{
        content:'\2630';
    }

    #menu_button:checked + .menu_button + menu li{
        max-height: 1em;
        padding: 1em;
        margin: 0.5em;
        opacity: 1;
    }

    #menu_button:checked + .menu_button:before {
        content:'\2715';
    }

    body > nav menu li{
        max-height: 0;
        max-width: 90%;
        width: 100%;
        padding: 0 1em;
        margin: 0;
        text-align: left;
        opacity: 0;
        transition: all .3s ease-in-out;
    }

    /*footer*/

    #footer_contents{
        flex-direction: column;
        margin: 0;
    }


}