
body{
    margin: 0 auto;

    display: grid;
    grid-template-rows: [header] 5em [body] auto [footer] 5em;
}

/* header */

body > header{
    grid-row: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 5em ;
    background-color: #D9D9D9 ;   
}
body > header img{
    grid-column: 1;
}

body > header form {
    grid-column: 2;
}

body > header #headerLog{
    grid-column: 3;
}



