
body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* header */

body > header{
    display: grid;
    grid-template-columns: 10em auto 8em;
    grid-template-rows: 5em;   
}
body > header img{
    grid-column: 1;
}

body > header form{
    grid-column: 2;
}

body > header .login{
    grid-column: 3;
}

body > header .logout{
    grid-column: 3;
}

/* menu */

body > nav #menu_button{
    display: none;
}

body > nav{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
body > nav menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1

}

body > nav li {
    display: block;
    flex: 1;
}


/* main */
main{
    flex: 1
}
/*footer*/

body > footer{
    margin-top: auto;
    display: grid;
    grid-template-rows: [start] auto [middle] auto [end];
}

body > footer #footer_contents{
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}



body > footer > p{
    grid-row: 2;
}