body > nav #menu_button{
    display: none;
}

body > nav{
    display: flex;
    align-items: center;
    justify-content: center;

}
body > nav menu{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-between;
    flex: 1

}