/*main header*/
#main_header{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    flex: 1;
}
#main_header img{
    margin-top: 1em;
    justify-self: center;
    border-radius: 1em;
    width: 100%;
    height: 100%;
    max-width: 60em;
    max-height: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: span 2;
    grid-row-end: span 1;
}

#main_header h2{
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    z-index: 1;
    position: absolute;
    text-align: center;
    align-self: center;
    justify-self: center;
}

#main_products{
    flex:1 ;
}

/*selected products */
.products{
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--medium_gray);
}

.products a{
    width: 20%;
    min-width: 10em;
    padding: 1em;
    object-fit: cover;
    text-decoration: none;
    color:black;
}


.products article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.products img{
    margin: 0;
    padding: 0;
    height: 300px;
    width: 300px;
    max-width: 100%;
    aspect-ratio: auto 200 / 150;
    border-radius: 1em;
    object-fit: cover;
    box-shadow: 0px 33px 15px -18px rgba(0, 0, 0, 0.15);
    
}

.products p{
    font-size: 1.1em;
}

#main_products h4{
    font-size: 2rem;
}

/*responsive*/

@media (max-width: 40em){

    .products a{
        min-width: 300px;
        max-height: 35%;
    }

    .products img{
        margin: 0;
        padding: 0;
        height: 300px;
        width: 300px;
        max-height: 100%;
        min-width: 300px;
        max-width: 100%;
        aspect-ratio: auto 200 / 150;
        object-fit: cover;
    }

    #main_header h2{
        font-size: 1.5rem;
    }
}