#products-del-info-page{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#products-del-info-page h1{
    text-align: center;
}

/*search bar product*/

#productSearch form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

#productSearch form input[type="text"]{
    border-radius: 1em;
    height: 2.5em;
}

#productSearch form button{
    border-radius: 1em;
    width: 5em;
    height: 2.5em;
}

/*product list section*/

#productList{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*plus button*/
#productList > a{
    align-self: flex-start;
    margin:1em;
    padding: 0.2em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2em;
    background-color: var(--light_gray);
    border-radius: 2em;
    width: 1em;
    text-align: center;
    box-shadow: 0px 20px 15px -5px rgba(0, 0, 0, 0.15);
}

/*products list*/
#productList ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

#productList li{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--light_gray);
    padding: 1em;
    width: 90%;
    margin-bottom: 2em;
    border-radius: 1em;
    box-shadow: 0px 20px 15px -5px rgba(0, 0, 0, 0.15);
    
}

#productList li .product_name{
    grid-column: 1;  
    width: 5em; 
}

#productList li .product_name p{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:  ellipsis;
}



#productList li form{
    grid-column: 2;
}

#productList li a{
    grid-column: 3;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: var(--medium_gray);
    text-align: center;
    border-radius: 1em;
    border-width: 2px;
    width: 8em;
    box-shadow: 0px 20px 15px -5px rgba(0, 0, 0, 0.15);
}

#productList li a p{
    margin: 0.5em;
    padding: 0;
}

#productList li button{
    background-color: var(--dark_red);
    box-shadow: 0px 20px 15px -5px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 1em;
    font-size: 1em;
    width: 80%;
    min-width: 5em;
    font-weight: bold;
    padding: 0.5em;
}

/*responsive*/
@media (max-width : 25em){
    #productSearch form{
        flex-direction: column;
    }
}

/*================================ update Info owned product ====================================*/


#updateProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*form div*/
#updateProductForm{
    width: 100%;
}

/*update product form*/
#updateProductForm form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#updateProductForm .form-group{
    width: 90%;
    max-width: 30em;
    display: flex;
    flex-direction: column;
    margin:1em;
}

#updateProductForm .form-group p{
    font-weight: 500;
    text-align: center;
}

#updateProductForm input[type="text"], #updateProductForm input[type="number"]{
    border-radius: 1em;
    height: 2.5em;

}

#updateProductForm input[type="submit"]{
    margin: 2em;
    background-color: var(--light_red);
    width: 8em;
    height: 3em;
    border-radius: 1em;
    box-shadow: 0px 20px 15px -5px rgba(0, 0, 0, 0.15);
    font-weight: bold;
}





