 .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile header{
    align-self: center;
}

/*user profile information section
*/
#userInfo {
    display: flex;
    flex-direction: column;
    background-color: var(--light_gray);
    width: 95%;
    max-width: 50em;
    border-radius: 1em;
    box-shadow: 0px 33px 15px -18px rgba(0, 0, 0, 0.15);
}

#userInfo table{
    align-self: center;
    border-collapse: collapse;
    padding: 1em;

    /*text content*/
    font-size: 1.1em;
    font-weight: 500;
}


#userInfo table tr td{
    padding: 1em;
    margin: 0;
    border-bottom: 1px solid;
}

#userInfo table tr:last-of-type td {
    border-bottom: 0px solid;
}

/*profile options*/

.profileOptions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Options customization*/
.profile ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 95%;  
    padding: 0;
}

.profile li{
    background-color: var(--light_gray);
    margin: 1em;
    width: 100%;
    max-width: 50em;
    border-radius: 1em;
    box-shadow: 0px 33px 15px -18px rgba(0, 0, 0, 0.15);
}

.profile li a{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    align-items: center;

    /*text*/
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: 500;

}

.profile li a p{
    padding-left: 1em;
}

.profile li a::after{
    grid-column: 2;
    padding-right: 1em;
    justify-self: self-end;
    font-size: 2em;
    content: '>';
}

/*logout Button specific customization*/

#logoutButton{
    background-color: var(--dark_red);
}
#logoutButton a{
    color: white;
}

/*====================================== edit profile =================================================*/

/*header*/

.editProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.editProfile header{
    align-self: center;
}

/*form*/
.editProfile form{
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

.editProfile form label {
    display: grid;
    margin: 1em;
    text-align: center;
    margin-bottom: 35px;
    font-weight: 600;
}

.editProfile form input[type="text"],
.editProfile form input[type="password"] {
    margin-top: 15px;
    grid-row: 2;
    font-weight: 500;
}


.editProfile form label input{
    align-self: center;
    justify-self: center;
    border-radius: 1em;
    width: 80%;
    max-width: 30em;
    height: 2em;
}

.editProfile form > input[type=submit]{
    margin: 1em;
    align-self: center;
    justify-self: center;
    background-color: var(--light_red);
    width: 8em;
    height: 3em;
    border-radius: 1em;
    font-weight: 700;
    font-size: 1.1em;
}