#shoppingCart{
    display: flex;
    gap: 3em;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 3em;
}

/*products table*/

.productsTable{
    display: flex;
    justify-content: center;
    width: 95%;
    max-width: 50em;
    box-shadow: 0px 33px 15px -18px rgba(0, 0, 0, 0.15);
}

.productsTable table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.productsTable tr {
    background-color: var(--light_gray);
}
.productsTable tr:nth-child(even){
    background-color: #b7b7b7; 
}

.productsTable tr:first-child th:first-of-type{
    border-top-left-radius: 1em;
}

.productsTable tr:first-child th:last-of-type{
    border-top-right-radius: 1em;
}

.productsTable tr:last-child th:first-of-type{
    border-bottom-left-radius: 1em;
}

.productsTable tr:last-child td:last-of-type{
    border-bottom-right-radius: 1em;
}

.productsTable td, .productsTable th{
    padding: 0.8em;
    font-size: 1.1em;
}

.productsTable th{
    font-weight: bold;
}

.productsTable a{
    display: block;
    text-decoration: none;
    color:black;
    width: 10em;
}

.productsTable a p{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:  ellipsis;
}

.productsTable button{
    background-color: var(--dark_red);
    box-shadow: 0px 20px 15px -5px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 1em;
    font-size: 1em;
    width: 80%;
    min-width: 5em;
    font-weight: bold;
    padding: 0.5em;
}

/*buy button*/

#buyButton{
    display: flex;
    background-color: var(--light_red);
    width: 8em;
    height: 3em;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 20px 15px -5px rgba(0, 0, 0, 0.15);
}

#buyButton a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}

@media (max-width: 40em){
    .productsTable a{
        width: 6em;
    }
}

@media (max-width: 25em){
    .productsTable a{
        width: 3em;
    }
}

/* =============================================== Complete purchase =======================================================*/

#buy{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#buy article{
    width: 100%;
}
#buy form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

#buy form label{
    display: grid;
    width: 100%;
    margin: 1em;
    font-weight: 500;
    place-items: center;
}

#buy form label input{
    border-radius: 1em;
    width: 80%;
    max-width: 30em;
    height: 2em;
}

#buy form label input{
    align-self: center;
    justify-self: center;
    border-radius: 1em;
    width: 80%;
    max-width: 30em;
    height: 2.5em;
    border-color: black;
}

#buy select{
    width: 80%;
    max-width: 30em;
    height: 2.5em;
    border-radius: 1em;
    border-width: 2px;
    border-color: black;
    font-weight: 500;
}

#buy input[type = "submit"]{
    margin: 1em;
    align-self: center;
    justify-self: center;
    background-color: var(--light_red);
    width: 8em;
    height: 3em;
    border-radius: 1em;
    font-weight: 700;
    font-size: 1.1em;
}